*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor{
    width:350px;
    height:700px;
    background:#F4D027;
    position:relative;
    overflow:hidden;
    border-radius:20px;
}

.palmera{
    width:230px;
    height:180px;
    position:absolute;
    top:-15px;
    right:-10px;
    background:url(../img/palmera.png);
    background-size:cover;
    z-index:1;
    animation:palmera 1.5s infinite alternate;
}

@keyframes palmera{
    0%{
        transform:rotate(-8deg);
    }
    100%{
        transform:rotate(3deg);
    }
}

.text1{
    position:absolute;
    top:255px;
    left:-400px;
    font-family:'Bebas Neue',sans-serif;
    font-size:28px;
    letter-spacing:5px;
    color:#5a3217;
    z-index:10;
    animation:texto1 8s infinite;
}

.text2{
    position:absolute;
    top:300px;
    left:-700px;
    font-family:'Anton',sans-serif;
    font-size:72px;
    color:white;
    line-height:70px;
    z-index:10;
    animation:texto2 8s infinite;
}

.text3{
    position:absolute;
    top:375px;
    left:-700px;
    font-family:'Anton',sans-serif;
    font-size:72px;
    color:white;
    line-height:70px;
    z-index:10;
    animation:texto3 8s infinite;
}

@keyframes texto1{
    0%{
        transform:translateX(-500px);
    }
    15%{
        transform:translateX(420px);
    }
    45%{
        transform:translateX(420px);
    }
    60%{
        transform:translateX(1200px);
    }
    100%{
        transform:translateX(1200px);
    }
}

@keyframes texto2{
    0%{
        transform:translateX(-800px);
    }
    15%{
        transform:translateX(720px);
    }
    40%{
        transform:translateX(720px);
    }
    60%{
        transform:translateX(1500px);
    }
    100%{
        transform:translateX(1500px);
    }
}

@keyframes texto3{
    0%{
        transform:translateX(-800px);
    }
    15%{
        transform:translateX(720px);
    }
    45%{
        transform:translateX(720px);
    }
    60%{
        transform:translateX(1500px);
    }
    100%{
        transform:translateX(1500px);
    }
}

.coco1,.cocoTop,.coco2,.coco3,.coco4{
    position:absolute;
    background-size:cover;
    z-index:5;
}

.coco1{
    width:90px;
    height:90px;
    top:-120px;
    left:280px;
    background-image:url(../img/coco3.png);
    animation:coco1 8s infinite;
}

@keyframes coco1{
    0%{
        top:-120px;
    }
    15%{
        top:20px;
    }
    45%{
        top:20px;
    }
    60%{
        top:900px;
    }
    100%{
        top:900px;
    }
}

.cocoT{
    width:95px;
    height:95px;
    top:-150px;
    left:10px;
    background-image:url(../img/coco2.png);
    animation: cocoT 8s infinite;
}

@keyframes cocoT{
    0%{
        top:-150px;
    }
    20%{
        top:110px;
    }
    45%{
        top:110px;
    }
    60%{
        top:900px;
    }
    100%{
        top:900px;
    }
}

.coco2{
    width:230px;
    height:230px;
    top:-300px;
    left:230px;
    background-image:url(../img/coco2.png);
    animation:coco2 8s infinite;
}

@keyframes coco2{
    0%{
        top:-300px;
    }
    20%{
        top:500px;
    }
    45%{
        top:500px;
    }
    60%{
        top:900px;
    }
    100%{
        top:900px;
    }
}

.coco3{
    width:140px;
    height:140px;
    top:-200px;
    left:-20px;
    background-image:url(../img/coco1.png);
    animation:coco3 8s infinite;
}

@keyframes coco3{
    0%{
        top:-200px;
    }
    20%{
        top:500px;
    }
    45%{
        top:500px;
    }
    60%{
        top:900px;
    }
    100%{
        top:900px;
    }
}

.coco4{
    width:150px;
    height:150px;
    top:-200px;
    left:180px;
    background-image:url(../img/coco2.png);
    animation:coco4 8s infinite;
}

@keyframes coco4{
    0%{
        top:-200px;
    }
    20%{
        top:340px;
    }
    45%{
        top:340px;
    }
    60%{
        top:900px;
    }
    100%{
        top:900px;
    }
}

.txt1{
    position:absolute;
    top:180px;
    left:450px;
    font-family:'Anton',sans-serif;
    font-size:88px;
    color:white;
    z-index:3;
    animation:txt1 8s infinite;
}

.txt2{
    position:absolute;
    top:268px;
    left:450px;
    font-family:'Anton',sans-serif;
    font-size:72px;
    color:#b98a4a;
    z-index:3;
    animation:txt2 8s infinite;
}

.txt3{
    position:absolute;
    top:330px;
    left:450px;
    font-family:'Anton',sans-serif;
    font-size:74px;
    color:white;
    z-index:3;
    animation:txt3 8s infinite;
}

@keyframes txt1{
    0%{
        left:450px;top:180px;
    }
    55%{
        left:450px;top:180px;
    }
    70%{
        left:82px;top:180px;
    }
    80%{
        left:82px;top:145px;
    }
    100%{
        left:82px;top:145px;
    }
}

@keyframes txt2{
    0%{
        left:450px;
    }
    55%{
        left:450px;
    }
    70%{left:150px;}
    100%{left:150px;}
}

@keyframes txt3{
    0%{
        left:450px;top:330px;
    }
    55%{
        left:450px;top:330px;
    }
    70%{
        left:48px;top:330px;
    }
    80%{
        left:48px;top:390px;
    }
    100%{
        left:48px;top:390px;
    }
}

.coco5{
    width:250px;
    height:250px;
    position:absolute;
    top:190px;
    left:55px;
    background-image:url(../img/coco4.png);
    background-size:cover;
    transform:scale(0);
    z-index:4;
    animation:coco5 8s infinite;
}

@keyframes coco5{
    0%{
        transform:scale(0);
    }
    75%{
        transform:scale(0);
    }
    85%{
        transform:scale(1);
    }
    100%{
        transform:scale(1);
    }
}

.flor{
    width:240px;
    height:240px;
    position:absolute;
    top:270px;
    left:120px;
    background-image:url(../img/flor.png);
    background-size:cover;
    z-index:5;
    transform:scale(0);
    animation:flor 8s infinite;
}

@keyframes flor{
    0%{transform:scale(0);}
    80%{transform:scale(0);}
    90%{transform:scale(1);}
    100%{transform:scale(1);}
}


a{
display:block;
width:250px;
background-color:#2563eb;
color:white;
text-decoration:none;
text-align:center;
padding:15px;
margin:auto;
font-size:20px;
font-family:Arial;
font-weight:bold;
border-radius:10px;
box-shadow:0px 0px 10px black;
transition:1s;
}

a:hover{
background-color:black;
transform:scale(1.1);
}